
.imagescontainer{
		margin: auto;
		padding-top; 20px;
 		height: 2000px; /*make sure to adjust this to min and max height which is repsonsive with javascript*/
 		background-color: rgba(255,255,255,0.1);

}

#gallery {
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;

}

.item { 
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.item a {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.item a img {
  width: 100%;
}

.item:active {
    transform:scale(1.5);
    -ms-transform:scale(1.5); /* IE 9 */
    -moz-transform:scale(1.5); /* Firefox */
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -o-transform:scale(1.5); /* Opera */
}

.image img:visited {
		
}

