html {
		font-family: 'Lato';	
		color: white;
		background: url(../images/selfie.png) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		opacity: 0.85;
		height: 100%;
		width: 100%;
}

body {
		font-size: 100%;
}


#container{
 		height: ;

}

